.registration-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.usuario-card {
  width: 70vw;
  margin-left: 150px;
}

mat-form-field {
  padding: 10px;
  width: 100%;
  margin-bottom: 15px;
}

div{
  width: 100%; 
  display: flex;
  flex-direction: row;
}

.area-botao{
  width: 100%; 
  display: flex;
  justify-content: space-between;
  button{
    padding: 20px 10px;
    margin: 10px;
  }
}


@media screen and (max-width: 1200px) {
  .usuario-card {
    width: 70vw;
    margin-left: 100px;
  } 
}


@media screen and (max-width: 800px) {
  .registration-container {
    z-index: 1;
  }

  .usuario-card {
    width: 90vw;
    margin: 400px 0px 150px -50px;
  } 
  div{
    flex-direction: column;
  }
}
