<div class="container-form">
  <mat-card class="card-form " >
    <mat-card-header>
      <mat-card-title>Cadastro de Contrato</mat-card-title>
    </mat-card-header>


    <form [formGroup]="formControls">
      <mat-card-content >
        <div formGroupName="contratante">

          <button (click)="generateMatricula()" style="margin-left: 10px;" *ngIf="formControls.get('crf.numerocrf')?.value == 0" mat-stroked-button color="accent">Adicionar Matricula</button>
          <mat-form-field>
            <mat-label>CRF</mat-label>
            <input disabled [readonly]="visualizar" matInput [value]="formControls.get('crf.numerocrf')?.value"/>
          </mat-form-field>

          <mat-form-field class="example-full-width"> 
            <mat-label>CPF do Contratante</mat-label>
            <input type="text"
                  [readonly]="visualizar"
                    matInput
                    formControlName="cpf"
                    [matAutocomplete]="autoCpf"
                    (keyup)="handleKeyUpContratante($event)">
            <mat-autocomplete autoActiveFirstOption #autoCpf="matAutocomplete">
                <mat-option *ngFor="let option of filteredContratantes" [value]="option.cpf" (onSelectionChange)="selectContratante(option)">
                  {{option.nome + " - " + option.cpf}}
                </mat-option>
            </mat-autocomplete>
            <mat-progress-bar *ngIf="loadingCpf" mode="indeterminate"></mat-progress-bar>
          </mat-form-field>
        
          <div class="inputs-row-form">
            <mat-form-field>
              <mat-label>Nome</mat-label>
              <input disabled [readonly]="visualizar"  matInput [value]="formControls.get('contratante.nome')?.value"/>
            </mat-form-field>

            <mat-form-field>
              <mat-label>RG</mat-label>
              <input [readonly]="visualizar"  matInput disabled  [value]="formControls.get('contratante.rg')?.value" />
            </mat-form-field> 
          </div>
        </div>
        
        <div class="inputs-row-form" formGroupName="cartorio">
          <mat-form-field class="example-full-width">
            <mat-label>Nome do Cartório</mat-label>
            <input disabled matInput [value]="formControls.get('cartorio.nome')?.value" >
          </mat-form-field>

          <mat-form-field>
            <mat-label>CNS do Cartório</mat-label>
            <input  disabled matInput [value]="formControls.get('cartorio.cns')?.value"  />
          </mat-form-field>
        </div>

        <mat-form-field *ngIf="existeImovel && imovelDoContratante.enderecoPorta.rua != '' && imovelDoContratante.enderecoPorta">
          <mat-label>Endereço Porta</mat-label>
          <input disabled [readonly]="visualizar" matInput 
          [value]="imovelDoContratante.enderecoPorta.rua + ', n '+ 
          imovelDoContratante.enderecoPorta.numero + ' ' + imovelDoContratante.enderecoPorta.complemento + ', ' +
          imovelDoContratante.enderecoPorta.bairro + ', ' + imovelDoContratante.enderecoPorta.cidadeUf + ' '"
          />
        </mat-form-field>

        <mat-form-field *ngIf="existeImovel && imovelDoContratante.enderecoDefinitivo.rua != '' && imovelDoContratante.enderecoDefinitivo">
          <mat-label>Endereço Definitivo</mat-label>
          <input disabled [readonly]="visualizar" matInput 
          [value]="imovelDoContratante.enderecoDefinitivo.rua + ', n '+ 
          imovelDoContratante.enderecoDefinitivo.numero + ' ' + imovelDoContratante.enderecoDefinitivo.complemento + ', ' +
          imovelDoContratante.enderecoDefinitivo.bairro + ', ' + imovelDoContratante.enderecoDefinitivo.cidadeUf + ' '"
          />
        </mat-form-field>

        <mat-form-field *ngIf="existeImovel && imovelDoContratante.enderecoProjeto.rua != '' && imovelDoContratante.enderecoProjeto">
          <mat-label>Endereço Projeto</mat-label>
          <input disabled [readonly]="visualizar" matInput 
          [value]="imovelDoContratante.enderecoProjeto.rua + ', n '+ 
          imovelDoContratante.enderecoProjeto.numero + ' ' + imovelDoContratante.enderecoProjeto.complemento + ', ' +
          imovelDoContratante.enderecoProjeto.bairro + ', ' + imovelDoContratante.enderecoProjeto.cidadeUf + ' '"
          />
        </mat-form-field>

        <app-pagamento-calculo *ngIf="contratoId" [dataContratanteInfo]="formControls.get('contratante')?.getRawValue()" (dataEvent)="receiveDataFromChild($event)"></app-pagamento-calculo>

          <div class="area-botao-form " *ngIf="isLoggedIn && this.contratoId === '' || this.contratoId === undefined">
            <button mat-raised-button color="primary" (click)="create()" [disabled]="!formValid()">Cadastrar</button>
            <button  mat-raised-button color="link" routerLink="/contrato/lista">Voltar</button>
          </div>
  
          <div class="area-botao-form " *ngIf="isLoggedIn && this.contratoId !== '' && this.contratoId !== undefined">
     
            <button *ngIf="!visualizar" mat-raised-button color="primary" (click)="update()" [disabled]="!formValid()"> Atualizar</button>
            <button mat-raised-button color="link" routerLink="/contrato/lista">Voltar</button>
          </div>
      </mat-card-content>
    </form>


    <button *ngIf="contratoId" [disabled]="!formValid() || !showDownloadContrato || !parcelamentoInfo.id" mat-stroked-button  color="primary" (click)="generateWordFile()">
      <mat-icon>download</mat-icon>
      Download Contrato
    </button>

  

  </mat-card>
</div>












