/* You can add global styles to this file, and also import other style files */
* {
  scrollbar-color: #8893d4 #3f51b5;
  scrollbar-width: 6px; 
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Para garantir que a altura da visualização seja pelo menos 100% da altura da tela */
  background-color: #f4f4f4; /* Adicione uma cor de fundo se desejar */
}

app-root {
  display: flex;
}

router-outlet {
  flex: 1;
}


/* Estilos para a barra de rolagem */
/* Largura e cor do thumb */
::-webkit-scrollbar-thumb {
  background-color: #8893d4; /* Para Chrome, Safari, e Opera */
}
::-moz-scrollbar-thumb {
  background-color: #8893d4; /* Para Firefox */
}

/* Cor do track */
::-webkit-scrollbar-track {
  background-color: #3f51b5; /* Para Chrome, Safari, e Opera */
}
::-moz-scrollbar-track {
  background-color: #3f51b5; /* Para Firefox */
}

/* Largura da scrollbar */
::-webkit-scrollbar {
  width: 6px; /* Para Chrome, Safari, e Opera */
}
::-moz-scrollbar {
  width: 6px; /* Para Firefox */
}



::-ms-scrollbar {
  color: #8893d4; 
  background-color: #3f51b5;
}


.menu-open-margin {
  margin-left: 250px; 
}
.menu-closed-margin {
  margin-left: 50px; 
}

.icon-green:hover{
  color: rgb(19, 110, 19);
  transition: color 0.5s ease-in-out;
}

.icon-red:hover{
  color: rgb(148, 39, 39);
  transition: color 0.5s ease-in-out;
}

.icon-blue:hover{
  color: rgb(39, 123, 148);
  transition: color 0.5s ease-in-out;
}




@media screen and (max-width: 800px) {
  .menu-open-margin {
    display:none;
  }
  .menu-closed-margin {
    margin-top: 50px;  
  }
}

@media screen and (max-width: 700px) {
  .menu-closed-margin {
    margin: 15px; 
  }
}