.page-container{
  width: calc(100vw - 400px);
  height: 80vh;
  display: block;
}
.search-field{
  width: 80%;
}

.header{
  display: flex;
  width: 100%;
  justify-content: space-between;
}


@media screen and (max-width: 1200px) {
  .table-area{
    width: 85vw;
    margin-left: 150px;
  }
}


@media screen and (max-width: 800px) {
  .page-container{
    width: 95%;
  }
  .header{
   flex-direction: column;
   margin-bottom: 50px;
  }
  .search-field{
    width: 100%;
  }
}

@media screen and (max-width: 700px) {
  .mat-table, .mat-header-cell, .mat-cell {
    display: block;
    width: 100%;
  }
}


@media screen and (max-width: 600px) {
  .mat-table {
    overflow-x: auto;
  }
 
  .mat-row {
    border-bottom: 1px solid #ccc;
  }
  .mat-header-cell, .mat-cell {
    text-align: center;
  }
}